/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
ul {
  margin: 0;
  padding: 0px;
}
li {
  list-style: none;
}
input,
button {
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}

/* Hero */
.hero {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.hero__image {
  width: 100%;
}
.hero__link {
  font-family: fantasy, cursive;
}
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
}

/* Main */
.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* New task */
.new-task__container {
  padding-top: 12px;
}
.new-task__header {
  display: block;
  margin: 0 0 20px;
  padding: 30px 0 10px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}
.new-task__content {
  display: flex;
}
.new-task__input {
  display: inline-block;
  width: 318px;
  height: 19px;
  margin: 0;
  padding: 0 9px;
  border: 1px solid #ddd;
  border-radius: 6px;
  flex-grow: 1;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888;
  background: #fff;
}
.new-task__input:focus {
  color: #333;
}
.new-task__button:hover {
  color: #0FC57C;
}
/* Incomplete Tasks */
.incomplete__container {
  padding-top: 16px;
}
.incomplete__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.incomplete__task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.incomplete__checkbox {
  margin: 0 10px;
}
.incomplete__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.incomplete__label--edit {
  display: none;
}
.incomplete__input {
  display: none;
  width: 226px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  flex-grow: 1;
}
.incomplete__input--edit {
  display: inline-block;
}
.incomplete__input:focus {
  color: #333;
}
.incomplete__checkbox,
.incomplete__label,
.incomplete__input,
.incomplete__btn-edit,
.incomplete__btn-delete {
  vertical-align: middle;
}
.incomplete__btn-delete:hover {
  color: #CF2323;
}
.incomplete__btn-delete::before {
  display: block;
  height: 2em;
  content: "";
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
  background-image: url('./remove.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.incomplete__btn-delete:hover::before {
  transform: rotateZ(0);
}

/* Complete Tasks */
.complete__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.complete__task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.complete__checkbox {
  margin: 0 10px;
}
.complete__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.complete__label--edit {
  display: none;
}
.complete__label--complete {
  text-decoration: line-through;
  color: #888;
}
.complete__input {
  display: none;
  width: 226px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  flex-grow: 1;
}
.complete__input--edit {
  display: inline-block;
}
.complete__input:focus {
  color: #333;
}
.complete__checkbox,
.complete__label,
.complete__input,
.complete__btn-edit,
.complete__btn-delete {
  vertical-align: middle;
}
.complete__btn-delete:hover {
  color: #CF2323;
}
.complete__btn-delete::before {
  display: block;
  height: 2em;
  content: "";
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
  background-image: url('./remove.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.complete__btn-delete:hover::before {
  transform: rotateZ(0);
}
